/* General Page Style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*Navigation*/
header, 
.main-nav {
    padding: 16px;
    text-align: center;
}

.main-nav {
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav img {
    width: 50px;
    border-radius: 50px;
}

.main-nav ul{
    display: flex;
    gap: 20px;
}

a {
    color: lightblue;
}

/*Main content*/
.textbox {
    margin: 16px;
    border: 2px solid #333;
    padding: 16px 5px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 250px;
}

.post-title {
    margin-bottom: 8px;
    font-size: 24px;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    clear: both;
    padding: 16px;
    color: aliceblue ;
    background-color: #242424;
    text-align: center;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer div img {
    max-width: 100px;
    border-radius: 50px;
}